<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ETIQUETAS REQUERIDAS -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- OBTENCION DE ESTILOS - BULMA -->
    <title>Be eco</title>
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/Logo%20eco.ico">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>

</head>


<!-- Menu -->

<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/Be%20Eco%20(2)%20(2).webp" width="140" height="130" alt="Be eco Logo">

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="NavMenuBeEco" class="navbar-menu">
    <div class="navbar-start">
      <a href="/index" class="navbar-item is-transparent">Inicio</a>

      <a href="/list" class="navbar-item  is-transparent">
        Comunidad
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Descubre
        </a>

        <div class="navbar-dropdown">
          <a href="/estudioEco" class="navbar-item">
            ¿Qué estudia la ecología?
          </a>
          <a href="/proteccionAmbiental" class="navbar-item">
            Protección del medio ambiente
          </a>
          <a href="/reciclar" class="navbar-item">
            ¿Cómo reciclar bien?
          </a>
          <a href="/agua" class="navbar-item">
            ¿Cómo ahorrar agua?
          </a>
          <a href="/planta" class="navbar-item">
            Planta un árbol
          </a>
          <a href="/basura" class="navbar-item">
            Separación de basura
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="/insertar" class="button is-success">
            <strong>Inicia sesion</strong>
          </a>
          <a href="/insertar" class="button is-light">
            Registrate
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>


<!-- HERO DEGRADADO - BACKGROUND -->

<section class="hero is-fullwidth is-light is-family-monospace is-bold">

</section>

<!-- SECCION INFORMACION -->

  <section class="hero is-bold is-family-monospace is-small">
    <nav class="hero-body">
        <nav class="columns is-centered">
            <nav class="column is-half has-text-centered">
              <p class="subtitle is-5">¡Aprendamos juntos!</p>
              <p class="title is-2">¿Cómo ahorrar agua?</p>
                  <div class="content">
                    Si destrozas el agua, destrozas la vida.
                  </div>
            </nav>
        </nav>  
    </nav>
</section>

<section class="hero is-fullwidth is-light is-family-monospace is-bold">
  <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/Background%20-%20Agua.webp" width="1920" height="700" alt="Be eco 1">
  
  <div class="card">
    <div class="card-content is-two-fifths">
      <div class="container is-widescreen">
        <p class="title">Pasos para saber cómo ahorrar agua en casa</p>
        <p>
          <strong>1. Dúchate en vez de bañarte. </strong>
          Una ducha supone un ahorro medio de 400 litros por día y hogar.
          <br>
          <strong>2. No dejes el grifo abierto al lavarte los dientes o afeitarte.</strong> 
          Con esta práctica tan habitual se derrochan hasta 30 litros por persona cada día.
          <br>
          <strong>3. No mantengas el grifo abierto al fregar los platos.</strong> 
          Es mejor llenar la pila y lavar en ella los platos.
          <br>
          <strong>4. Reutiliza el agua.</strong> 
          Intenta volver a utilizar el agua que no esté sucia para otras acciones, como por ejemplo, el agua del baño de tus hijos te puede servir para fregar el suelo.          <br>
          <strong>5. Racionaliza el riego.</strong> 
          Lo puedes realizar aprovechando el agua de lluvia o bien estableciendo sistemas de riego por goteo.
          <br>
          <strong>6. Ten cuidado con las fugas en el baño y la cocina.</strong> 
          Hay que revisar cada cierto tiempo la grifería y los elementos urinarios porque con el uso pueden aparecer pequeñas fugas que generan importantes pérdidas de agua y dinero al cabo del tiempo.          <br>
          <strong>7. Cambia tus electrodomésticos tradicionales por los que tengan la etiqueta A+, A++ o A+++.</strong> 
          Sobre todo, la lavadora y el lavavajillas. Este tipo de electrodoméstico ahorran un 50% de consumo de agua gracias a sus sistemas económicos y sus programas de media carga.          <br>
          <strong>8. Instala grifería termostática o electrónica en la cocina y el baño.</strong> 
          Estos sistemas hace que el uso del agua se racionalice al poderse regular el consumo.        
        
        </p>
      </div>
    </div>
  </div>

</section>

<!-- PIE DE PAGINA -->

<footer class="footer is-light">
    <nav class="content is-fullwidth has-text-centered">
        <!-- CONTENIDO CENTRADO -->
          <strong class="has-text-weight">
            Unidos por la misma causa.
          </strong><br>
        
          <!-- HIPERVINCULO HACIA LA PAGINA OFICIAL -->

            <a class="has-text-weight-bold" href="http://localhost:8080/">
              <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/Be%20Eco%20(1)%20(5).webp" width="200" height="150" alt="Be eco 6">
            </a>
    </nav>
</footer>

</html>