<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ETIQUETAS REQUERIDAS -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- OBTENCION DE ESTILOS - BULMA -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <title>Be eco</title>
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/Logo%20eco.ico">
    
</head>




<!-- Menu -->

<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/Be%20Eco%20(2)%20(2).webp" width="140" height="130" alt="Be eco Logo">

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="NavMenuBeEco" class="navbar-menu">
    <div class="navbar-start">
      <a href="/index" class="navbar-item is-transparent">Inicio</a>

      <a href="/list" class="navbar-item  is-transparent">
        Comunidad
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Descubre
        </a>

        <div class="navbar-dropdown">
          <a href="/estudioEco" class="navbar-item">
            ¿Qué estudia la ecología?
          </a>
          <a href="/proteccionAmbiental" class="navbar-item">
            Protección del medio ambiente
          </a>
          <a href="/reciclar" class="navbar-item">
            ¿Cómo reciclar bien?
          </a>
          <a href="/agua" class="navbar-item">
            ¿Cómo ahorrar agua?
          </a>
          <a href="/planta" class="navbar-item">
            Planta un árbol
          </a>
          <a href="/basura" class="navbar-item">
            Separación de basura
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="/iniciosesion" class="button is-success">
            <strong>Inicia sesion</strong>
          </a>
          <a href="/insertar" class="button is-light">
            Registrate
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>


<!-- HERO DEGRADADO - BACKGROUND -->

<section class="hero is-fullwidth is-light is-family-monospace is-bold">

</section>

<!-- SECCION INFORMACION -->

  <section class="hero is-bold is-family-monospace is-small">
    <nav class="hero-body">
        <nav class="columns is-centered">
            <nav class="column is-half has-text-centered">
              <p class="subtitle is-5">¡Aprendamos juntos!</p>
              <p class="title is-2">¿Qué estudia la ecología?</p>
                  <div class="content">
                    Una definicion sencilla con un gran propósito.
                  </div>
            </nav>
        </nav>  
    </nav>
</section>

<section class="hero is-fullwidth is-light is-family-monospace is-bold">
  <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/Background%20-%20Estudio.webp" width="1920" height="700" alt="Be eco 1">
  
  <div class="card">
    <div class="card-content is-two-fifths">
      <div class="container is-widescreen">
        La ecología es la ciencia que <strong>estudia la relación de los seres vivos con el medio que habitan</strong>.
        La ecología podría considerarse la ciencia más antigua que existe o la profesión.Desde que el hombre empezó a observar la naturaleza ya fuera para buscar plantas de las que alimentarse, para cazar o encontrar un lugar para establecerse con recursos necesarios. De ahí que el origen etimológico de esta rama de la biología sea <strong>del griego oikos que significa hogar y logos que significa ciencia</strong>.
        <br><br>
        La ecología evolucionó a partir de la historia natural de los antiguos filósofos griegos, como Hipócrates, Aristóteles y Teofrasto, sentando las bases de la ecología en sus estudios sobre la historia natural. Las bases posteriores para la ecología moderna se establecieron en los primeros trabajos de los fisiólogos de plantas y animales. Los conceptos evolutivos sobre la adaptación y la selección natural se convirtieron en piedras angulares de la teoría ecológica moderna transformándola en una ciencia más rigurosa en el siglo XIX.
      </div>
    </div>
  </div>

</section>

<!-- PIE DE PAGINA -->

<footer class="footer is-light">
    <nav class="content is-fullwidth has-text-centered">
        <!-- CONTENIDO CENTRADO -->
          <strong class="has-text-weight">
            Unidos por la misma causa.
          </strong><br>
        
          <!-- HIPERVINCULO HACIA LA PAGINA OFICIAL -->

            <a class="has-text-weight-bold" href="http://localhost:8080/">
              <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/Be%20Eco%20(1)%20(5).webp" width="200" height="150" alt="Be eco 6">
            </a>
    </nav>
</footer>

</html>