<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ETIQUETAS REQUERIDAS -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- OBTENCION DE ESTILOS - BULMA -->

    <title>Be eco</title>
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/Logo%20eco.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
</head>


<!-- Menu -->

<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/Be%20Eco%20(2)%20(2).webp" width="140" height="130" alt="Be eco Logo">

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="NavMenuBeEco" class="navbar-menu">
    <div class="navbar-start">
      <a href="/index" class="navbar-item is-transparent">Inicio</a>

      <a href="/list" class="navbar-item  is-transparent">
        Comunidad
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Descubre
        </a>

        <div class="navbar-dropdown">
          <a href="/estudioEco" class="navbar-item">
            ¿Qué estudia la ecología?
          </a>
          <a href="/proteccionAmbiental" class="navbar-item">
            Protección del medio ambiente
          </a>
          <a href="/reciclar" class="navbar-item">
            ¿Cómo reciclar bien?
          </a>
          <a href="/agua" class="navbar-item">
            ¿Cómo ahorrar agua?
          </a>
          <a href="/planta" class="navbar-item">
            Planta un árbol
          </a>
          <a href="/basura" class="navbar-item">
            Separación de basura
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="/iniciosesion" class="button is-success">
            <strong>Inicia sesion</strong>
          </a>
          <a href="/insertar" class="button is-light">
            Registrate
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
  
<!-- SECCION FORMULARIO -->

<body bgcolor="000000" background="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/Background%20-%20Registro.webp" width="1920" height="700" alt="Be eco 2">
<section class="hero is-bold">

  <p>dkf</p>
</img>
</section>

<section class="hero is-bold">
    <nav class="hero-body">
        <nav class="columns is-centered">
          
          <nav class="card">
          <nav class="column">

            <nav class="control">
              <center>
                <figure class="image is-128x128">
                  <img class="is-rounded" src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/Logo%20eco.webp">
                </figure>
              </center>
            </nav>  

           <nav class="column is-full">
                <form method="POST" action="">

                  <!-- NOMBRE -->

                    <label class="label" form="nombre">Nombre:</label>
                    <nav class="field">
                        <nav class="control">
                            <input name="nombre" type="text" class="input is-success is-rounded" placeholder="Carmen" required>
                        </nav>
                    </nav>

                    <!-- APELLIDO PATERNO -->

                    <label class="label" form="primer_apellido">Primer Apellido:</label>
                    <nav class="field">
                        <nav class="control">
                            <input name="primer_apellido" type="text" class="input is-success is-rounded" placeholder="Armstrong" required>
                        </nav>
                    </nav>

                    <!-- APELLIDO MATERNO -->

                    <label class="label" form="contra">Contraseña:</label>
                    <nav class="field">
                        <nav class="control">
                            <input name="contra" type="password" class="input is-success is-rounded" required>
                        </nav>
                    </nav>

                    <!-- FECHA - NACIMIENTO -->

                    <label for="date" class="label">Fecha de nacimiento: </label>
                    <nav class="control">
                        <input type="date" class="input is-success is-rounded" placeholder="aaaa-mm-dd" name="fecha_nacimiento" min="19-01-01" required>
                    </nav>
                    <br>
                    <br>

                    <!-- BOTON REGRESAR -->

                    <a href="/iniciosesion"><button class="button is-success is-outlined is-large"
                            type="button">Iniciar sesion</button></a>

                    <!-- BOTON GUARDAR -->

                    <button class="button is-primary is-outlined is-large" type="submit">Registrarse</button>

                    <!-- BOTON CANCELAR -->

                    <button class="button is-success is-outlined is-large" type="reset">Cancelar</button>
                </form>
  </body>
</section>
<!-- PIE DE PAGINA -->

<footer class="footer is-light">
    <nav class="content is-fullwidth has-text-centered">
        <!-- CONTENIDO CENTRADO -->
          <strong class="has-text-weight">
            Unidos por la misma causa.
          </strong><br>
        
          <!-- HIPERVINCULO HACIA LA PAGINA OFICIAL -->

            <a class="has-text-weight-bold" href="http://localhost:8080/">
              <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/Be%20Eco%20(1)%20(5).webp" width="200" height="150" alt="Be eco 6">
            </a>
    </nav>
</footer>

</html>