$def with(result)

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ETIQUETAS REQUERIDAS -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- OBTENCION DE ESTILOS - BULMA -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <title>Be eco</title>
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/Logo%20eco.ico">

</head>


<!-- Menu -->

<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/Be%20Eco%20(2)%20(2).webp" width="140" height="130" alt="Be eco Logo">
  
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="NavMenuBeEco" class="navbar-menu">
      <div class="navbar-start">
        <a href="/index" class="navbar-item is-transparent">Inicio</a>
  
        <a href="/list" class="navbar-item  is-transparent">
          Comunidad
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Descubre
          </a>
  
          <div class="navbar-dropdown">
            <a href="/estudioEco" class="navbar-item">
              ¿Qué estudia la ecología?
            </a>
            <a href="/proteccionAmbiental" class="navbar-item">
              Protección del medio ambiente
            </a>
            <a href="/reciclar" class="navbar-item">
              ¿Cómo reciclar bien?
            </a>
            <a href="/agua" class="navbar-item">
              ¿Cómo ahorrar agua?
            </a>
            <a href="/planta" class="navbar-item">
              Planta un árbol
            </a>
            <a href="/basura" class="navbar-item">
              Separación de basura
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="/iniciosesion" class="button is-success">
              <strong>Inicia sesion</strong>
            </a>
            <a href="/insertar" class="button is-light">
              Registrate
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  

  <!-- SECCION ARTICULOS -->

<section class="hero is-bold is-family-monospace is-small">
    <nav class="hero-body">
        <nav class="columns is-centered">
            <nav class="column is-half has-text-centered">
              <p class="subtitle is-5">¡Disfruta y comparte!</p>
              <p class="title is-2">Datos Curiosos.</p>
            </nav>
        </nav>

        <!-- Datos curiosos #1-->
        
          <nav class="column is-half">
            <div class="columns">

              <div class="column is-half">
                <article class="message is-success">
                  <div class="message-body">
                    <strong>La Tierra, planeta nitrogenado.</strong>
                    La atmósfera de la Tierra está compuesta de 78% de nitrógeno, 21% de oxígeno y cantidades mínimas de otros gases, incluidos el argón y el dióxido de carbono.                  </div>
                  <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/2.webp" width="1920" height="700" alt="Be eco 2">
                </article>
              </div>

              <div class="column is-half">
                <article class="message is-success">
                  <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/3.webp" width="1920" height="700" alt="Be eco 3">
                  <div class="message-body">
                    <strong>¿El único planeta con vida?</strong><br>
                    El único planeta que sustenta la vida. Sin embargo, se están realizando intentos para ayudar a la vida a sobrevivir en otros planetas como Marte.
                  </div>
                </article>
              </div>

              <div class="column is-half">
                <article class="message is-success">
                  <div class="message-body">
                    <strong>Agua en todos los estados.</strong><br>
                    La Tierra también es el único lugar en el sistema solar donde el agua puede estar presente en los tres estados: sólido, líquido y gaseoso.                  </div>
                  <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/4.webp" width="1920" height="700" alt="Be eco 4">
                </article>
              </div>

              <div class="column is-half">
                <article class="message is-success">
                  <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/5.webp" width="1920" height="700" alt="Be eco 5">

                  <div class="message-body">
                    <strong>Sin plantas no habría vida.</strong><br>
                    La gran cantidad de oxígeno en la Tierra proviene del consumo de dióxido de carbono de nuestra vida vegetal durante la fotosíntesis.                  </div>
                </article>
              </div>
            </div>
          </nav>


          <!-- Datos curiosos #2-->
        
          <nav class="column is-half">
            <div class="columns">

              <div class="column is-half">
                <article class="message is-success">
                  <div class="message-body">
                    <strong>La Tierra está a mayor temperatura que el Sol.</strong><br>
                    El núcleo interno de la Tierra tiene una temperatura entre 5400 y 6000 grados centígrados. Por lo tanto, esto significa que el núcleo es más caliente que la superficie del Sol.
                  </div>  
                    <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/6.webp" width="1920" height="700" alt="Be eco 2">
                </article>
              </div>

              <div class="column is-half">
                <article class="message is-success">
                  <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/7.webp" width="1920" height="700" alt="Be eco 3">
                  <div class="message-body">
                    <strong>Composición del planeta.</strong><br>
                    El núcleo de la Tierra consta de dos capas, una capa exterior y una capa interior. Aunque los porcentajes específicos son desconocidos, tanto las capas externas como las internas del núcleo de la Tierra consisten principalmente en hierro y níquel.                  
                  </div>  
                  </article>
              </div>

              <div class="column is-half">
                <article class="message is-success">
                  <div class="message-body">
                    <strong>Días de 25 horas.</strong><br>
                    El medio ambiente también controla las horas del reloj. La velocidad de rotación de la Tierra está disminuyendo gradualmente; en unos 140 millones de años a partir de ahora, la duración de un día en la Tierra será de 25 horas.                  
                  </div>  
                    <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/8.webp" width="1920" height="700" alt="Be eco 4">
                </article>
              </div>

              <div class="column is-half">
                <article class="message is-success">
                  <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/9.webp" width="1920" height="700" alt="Be eco 5">

                  <div class="message-body">
                    <strong>La Tierra es el planeta terrestre más grande.</strong><br>
                    La Tierra es el tercer planeta si contamos desde el Sol y es el más grande de los cuatro planetas terrestres, es decir, Mercurio, Venus, la Tierra y Marte. Estos planetas también son los más cercanos al sol.
                  </div>
                  </article>
              </div>
            </div>
          </nav>
    </nav>
</section>

<!-- MUESTRA DE LA TABLA Y LOS ALUMNOS -->

<section>
    <nav class="column is-half">
        <nav class="column is-half">
            <nav class="column is-half">
                <nav class="field is-grouped">
                    <nav class="table-container table is-striped">
                        <table class="table">
                           <!-- ENCABEZADO COLUMNAS -->

                            <thead>
                                <tr>
                                    <th>Id_alumno</th>
                                    <th>Nombre</th>
                                    <th>Primer apellido</th>
                                    <th>Segundo apellido</th>
                                    <th>Fecha de nacimiento</th>
                                    <th>Borrar</th>
                                    <th>Modificar</th>
                                </tr>
                            </thead>

                            <!-- DATOS DENTRO DE LA TABLA -->
                            $for row in result:
                                <tr>
                                    <td>
                                        <a href="/view/$row['id_alumno']">
                                        $row['id_alumno']
                                        </a>
                                    </td>
                                    <td>$row['nombre']</td>
                                    <td>$row['primer_apellido']</td>
                                    <td>$row['segundo_apellido']</td>
                                    <td>$row['fecha_nacimiento']</td>
                                    <td>
                                        <a href="/borrar/$row['id_alumno']">
                                        Eliminar
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/modificar/$row['id_alumno']">
                                        Modificar
                                        </a>
                                    </td>
                                </tr>
                        
                        </table>
                    </nav>
                </nav>
            </nav>
        </nav>
    </nav>
</section>



<!-- PIE DE PAGINA -->

<footer class="footer is-light">
    <nav class="content is-fullwidth has-text-centered">
        <!-- CONTENIDO CENTRADO -->
          <strong class="has-text-weight">
            Unidos por la misma causa.
          </strong><br>
        
          <!-- HIPERVINCULO HACIA LA PAGINA OFICIAL -->

            <a class="has-text-weight-bold" href="http://localhost:8080/">
              <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/Be%20Eco%20(1)%20(5).webp" width="200" height="150" alt="Be eco 6">
            </a>
    </nav>
</footer>

</html>