<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ETIQUETAS REQUERIDAS -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- OBTENCION DE ESTILOS - BULMA -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <title>Be eco</title>
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/Logo%20eco.ico">
    
</head>


<!-- Menu -->

<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/Be%20Eco%20(2)%20(2).webp" width="140" height="130" alt="Be eco Logo">

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="NavMenuBeEco" class="navbar-menu">
    <div class="navbar-start">
      <a href="/index" class="navbar-item is-transparent">Inicio</a>

      <a href="/list" class="navbar-item  is-transparent">
        Comunidad
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Descubre
        </a>

        <div class="navbar-dropdown">
          <a href="/estudioEco" class="navbar-item">
            ¿Qué estudia la ecología?
          </a>
          <a href="/proteccionAmbiental" class="navbar-item">
            Protección del medio ambiente
          </a>
          <a href="/reciclar" class="navbar-item">
            ¿Cómo reciclar bien?
          </a>
          <a href="/agua" class="navbar-item">
            ¿Cómo ahorrar agua?
          </a>
          <a href="/planta" class="navbar-item">
            Planta un árbol
          </a>
          <a href="/basura" class="navbar-item">
            Separación de basura
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="/iniciosesion" class="button is-success">
            <strong>Inicia sesion</strong>
          </a>
          <a href="/insertar" class="button is-light">
            Registrate
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>


<!-- HERO DEGRADADO - BACKGROUND -->

<section class="hero is-fullwidth is-light is-family-monospace is-bold">

</section>

<!-- SECCION INFORMACION -->

  <section class="hero is-bold is-family-monospace is-small">
    <nav class="hero-body">
        <nav class="columns is-centered">
            <nav class="column is-half has-text-centered">
              <p class="subtitle is-5">¡Aprendamos juntos!</p>
              <p class="title is-2">Planta un árbol</p>
                  <div class="content">
                    Dejemos una herencia para los demas.
                  </div>
            </nav>
        </nav>  
    </nav>
</section>

<section class="hero is-fullwidth is-light is-family-monospace is-bold">
  <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/Background%20-%20Planta%20un%20arbol.webp" width="1920" height="700" alt="Be eco 1">
  
  <div class="card">
    <div class="card-content is-two-fifths">
      <div class="container is-widescreen">
        <p class="title">Planta un arbol hoy, y disfruta de su sombra mañana.</p>
        <p>
          Plantar un árbol puede sonar como una acción sencilla, sin embargo si plantas una especie que no corresponde al ecosistema o en un lugar con un mal suelo esta acción será un fracaso.
          Busca el lugar indicado para que después de reforestar los árboles no sean arrancados o descuidados.
          <br>
          <br>
          Una vez que plantes tu árbol, serás el responsable por la salud y el crecimiento de la planta para que en un futuro sea un árbol adulto y otorgue oxígeno, captura de carbono o sombra.
          <br>
          <br>
          <li>¡Los beneficios de plantar un árbol son muchos!:
          <li>Limpia el aire 
          <li>Contrarresta la contaminación por ruido
          <li>Aumenta el valor de una propiedad 
          <li>Previene la erosión del suelo
          <li>Proporciona hábitat
          <li>Refresca las calles
        </p>
        <br><br>
      </div>
    </div>
  </div>

</section>

<!-- PIE DE PAGINA -->

<footer class="footer is-light">
    <nav class="content is-fullwidth has-text-centered">
        <!-- CONTENIDO CENTRADO -->
          <strong class="has-text-weight">
            Unidos por la misma causa.
          </strong><br>
        
          <!-- HIPERVINCULO HACIA LA PAGINA OFICIAL -->

            <a class="has-text-weight-bold" href="http://localhost:8080/">
              <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/Be%20Eco%20(1)%20(5).webp" width="200" height="150" alt="Be eco 6">
            </a>
    </nav>
</footer>

</html>