<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ETIQUETAS REQUERIDAS -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- OBTENCION DE ESTILOS - BULMA -->
    
    <title>Be eco</title>
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/Logo%20eco.ico">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>

</head>

<!-- Menu -->

<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/Be%20Eco%20(2)%20(2).webp" width="140" height="130" alt="Be eco Logo">

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="NavMenuBeEco" class="navbar-menu">
    <div class="navbar-start">
      <a href="/index" class="navbar-item is-transparent">Inicio</a>

      <a href="/list" class="navbar-item  is-transparent">
        Comunidad
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Descubre
        </a>

        <div class="navbar-dropdown">
          <a href="/estudioEco" class="navbar-item">
            ¿Qué estudia la ecología?
          </a>
          <a href="/proteccionAmbiental" class="navbar-item">
            Protección del medio ambiente
          </a>
          <a href="/reciclar" class="navbar-item">
            ¿Cómo reciclar bien?
          </a>
          <a href="/agua" class="navbar-item">
            ¿Cómo ahorrar agua?
          </a>
          <a href="/planta" class="navbar-item">
            Planta un árbol
          </a>
          <a href="/basura" class="navbar-item">
            Separación de basura
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="/iniciosesion" class="button is-success">
            <strong>Inicia sesion</strong>
          </a>
          <a href="/insertar" class="button is-light">
            Registrate
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>



<!-- HERO DEGRADADO - BACKGROUND -->

<section class="hero is-fullwidth is-light is-family-monospace is-bold">

</section>

<!-- SECCION INFORMACION -->

  <section class="hero is-bold is-family-monospace is-small">
    <nav class="hero-body">
        <nav class="columns is-centered">
            <nav class="column is-half has-text-centered">
              <p class="subtitle is-5">¡Aprendamos juntos!</p>
              <p class="title is-2">Protección del medio ambiente</p>
                  <div class="content">
                    Descubramos como podemos proteger a nuestro ambiente.
                  </div>
            </nav>
        </nav>  
    </nav>
</section>

<section class="hero is-fullwidth is-light is-family-monospace is-bold">
  <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/Background%20-%20Proteccion.webp" width="1920" height="700" alt="Be eco 1">
  
  <div class="card">
    <div class="card-content is-two-fifths">
      <div class="container is-widescreen">
        En México, <strong>Secretaría de Medio Ambiente y Recursos Naturales (SEMARNAT)</strong> 
        es la dependencia encargada de la protección, restauración y conservación de 
        los recursos medioambientales del país. En definitiva, este es el ente 
        encargado de la protección ambiental en México, motivo por el que resulta tan importante.
        <br><br>
        <p class="title">Comienza en casa...</p>
        <strong>1. Separa la basura.</strong>Es bueno aprender a separar los residuos para que se puedamos reciclar. Tira la basura en cada cubo.
        <br><br>
        <strong>2. Usa productos que puedan reutilizarse.</strong> Hay muchos productos que se pueden usar varias veces para proteger la naturaleza. Por ejemplo, utiliza servilletas de tela en lugar de servilletas de papel.
        <br><br>
        <strong>3. Apaga las luces.</strong>Acostumbrate a apagar la luz y cuando te marches de casa comprueba que todo está apagado.
        <br><br>
        <strong>4. Cierra los grifos correctamente.</strong>Cuando no utilices el agua, cierra el grifo y controla que no existan fugas.
        <br><br>
        <strong>5. Aprovecha la luz natural.</strong>Para reducir el consumo de luz eléctrica, abre las ventanas y sube las persianas para que entre la luz del sol en tu casa.
        <br><br>
        <strong>6. Planta árboles.</strong>Los árboles producen oxígeno y son esenciales para la naturaleza, así que planta un árbol en tu casa o en la comunidad donde vives.
        <br><br>
        <strong>7. Recicla todo lo que puedas.</strong>Antes de tirar ropa, libros o juguetes, piensa si puedes darles una segunda oportunidad para evitar gastar y comprar todo nuevo. Ahorrarás dinero y protegerás la naturaleza.
        <br><br>
      </div>
    </div>
  </div>

</section>

<!-- PIE DE PAGINA -->

<footer class="footer is-light">
    <nav class="content is-fullwidth has-text-centered">
        <!-- CONTENIDO CENTRADO -->
          <strong class="has-text-weight">
            Unidos por la misma causa.
          </strong><br>
        
          <!-- HIPERVINCULO HACIA LA PAGINA OFICIAL -->

            <a class="has-text-weight-bold" href="http://localhost:8080/">
              <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/Be%20Eco%20(1)%20(5).webp" width="200" height="150" alt="Be eco 6">
            </a>
    </nav>
</footer>

</html>