<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ETIQUETAS REQUERIDAS -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- OBTENCION DE ESTILOS - BULMA -->
    
    <title>Be eco</title>
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/Logo%20eco.ico">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>

</head>

<!-- Menu -->

<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/Be%20Eco%20(2)%20(2).webp" width="140" height="130" alt="Be eco Logo">

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="NavMenuBeEco" class="navbar-menu">
    <div class="navbar-start">
      <a href="/index" class="navbar-item is-transparent">Inicio</a>

      <a href="/list" class="navbar-item  is-transparent">
        Comunidad
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Descubre
        </a>

        <div class="navbar-dropdown">
          <a href="/estudioEco" class="navbar-item">
            ¿Qué estudia la ecología?
          </a>
          <a href="/proteccionAmbiental" class="navbar-item">
            Protección del medio ambiente
          </a>
          <a href="/reciclar" class="navbar-item">
            ¿Cómo reciclar bien?
          </a>
          <a href="/agua" class="navbar-item">
            ¿Cómo ahorrar agua?
          </a>
          <a href="/planta" class="navbar-item">
            Planta un árbol
          </a>
          <a href="/basura" class="navbar-item">
            Separación de basura
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="/iniciosesion" class="button is-success">
            <strong>Inicia sesion</strong>
          </a>
          <a href="/insertar" class="button is-light">
            Registrate
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>


<!-- HERO DEGRADADO - BACKGROUND -->

<section class="hero is-fullwidth is-light is-family-monospace is-bold">

</section>

<!-- SECCION INFORMACION -->

  <section class="hero is-bold is-family-monospace is-small">
    <nav class="hero-body">
        <nav class="columns is-centered">
            <nav class="column is-half has-text-centered">
              <p class="subtitle is-5">¡Aprendamos juntos!</p>
              <p class="title is-2">¿Cómo reciclar bien?</p>
                  <div class="content">
                    Estudia cómo reciclar y comparte tus nuevos conocimientos.
                  </div>
            </nav>
        </nav>  
    </nav>
</section>

<section class="hero is-fullwidth is-light is-family-monospace is-bold">
  <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/Background%20-%20Recicla.webp" width="1920" height="700" alt="Be eco 1">
  
  <div class="card">
    <div class="card-content is-two-fifths">
      <div class="container is-widescreen">

        <p class="title">¿Por qué reciclar ayuda al medio ambiente?</p>
        <p>
        Reciclando evitamos que los productos y materiales se conviertan en residuos, transformándolos en otros completamente nuevos, alargando su vida útil y ayudando a la preservación de los recursos naturales del planeta. El reciclaje forma parte de la Economía Circular, el modelo basado en aprovechar al 100% las materias primas, haciendo más eficientes los procesos de uso y fabricación.<br><br>
        Diversos estudios realizados por <strong>ESCI (School of International Studies)</strong>, la Fundación Cidaut (Investigación y Desarrollo en Transporte y Energía) y la Cátedra UNESCO han demostrado que la energía necesaria para conseguir materia prima reciclada es menor que la utilizada para obtener materia prima virgen. Obtener las materias primas necesarias para fabricar algunos productos genera más sustancias contaminantes que si estas mismas fuesen recicladas, es decir, se genera menos CO2 a la atmósfera y se reduce la contaminación emitida. También producir papel desde cero supone más cantidad de agua que utilizar papel reciclado.
        </p>
        <br>

        <p class="title">Proceso de reciclaje.</p>
        <br>
        <p class="subtitle">Reciclaje de papel y cartón.</p>
        <p>Todo empieza con la recogida de estos residuos y su traslado a la planta. En una máquina llamada “pulper” se mezclan con agua, se utilizan aditivos para darle más resistencia y blancura y se retiran los impropios (tintas, grapas, etcetera) Después se tira esta pasta de papel en un tamiz que forma una “alfombra” y pasa por bobinas que la secan y los alistan para la producción de nuevos productos.
        </p>        

        <br>
        <p class="subtitle">Reciclaje de plástico.</p>
        <p>
        El plástico es uno de los residuos que más tardan en degradarse, algunos elementos de este material pueden durar en la naturaleza cientos de años.
        El reciclaje del plástico puede llevarse a cabo de manera mecánica o química.
        </p>

        <br>
        <p class="subtitle">Reciclaje de vidrio.</p>
        <p>Una de las principales ventajas del vidrio es que puede ser reciclado y reutilizado tantas veces como sea necesario sin perder características ni propiedades.
        Cuando llega a las fábricas se separa por color: verde, marrón y transparente.
        Después, se separa de todo material impropio como etiquetas y tapones. Sigue con la trituración del material en polvo, que se llama calcín, y que una vez sometido a altas temperaturas y añadido arena, hidróxido de sodio y caliza, se consiguen fabricar nuevos productos.
        </p>
        
        <br>
        <p class="subtitle">Reciclaje de textil y calzado.</p>
        <p>
        La ropa recogida y que no puede ser reutilizada se deshilacha para formar parte de otros productos, como mantas, materiales de insonorización, trapos para uso industrial, etc.
        Pero si esto no es posible, su destino es la incineración con recuperación de energía o su depósito final en vertedero.      </div>
        </p>  
      </div>
  </div>

</section>

<!-- PIE DE PAGINA -->

<footer class="footer is-light">
    <nav class="content is-fullwidth has-text-centered">
        <!-- CONTENIDO CENTRADO -->
          <strong class="has-text-weight">
            Unidos por la misma causa.
          </strong><br>
        
          <!-- HIPERVINCULO HACIA LA PAGINA OFICIAL -->

            <a class="has-text-weight-bold" href="http://localhost:8080/">
              <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Be%20Eco/Be%20Eco%20(1)%20(5).webp" width="200" height="150" alt="Be eco 6">
            </a>
    </nav>
</footer>

</html>